<div class="featured-collection-section">
  <div class="page-width">

    {% if section.settings.title != blank %}
      <h2>{{ section.settings.title | escape }}</h2>
    {% endif %}

    {%- assign collection = collections[section.settings.collection] -%}
    <div class="grid--uniform">

      {% for product in collection.products limit: 4 %}
{%- comment %}<locksmith:9458>{% endcomment -%}
  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
{%- comment %}</locksmith:9458>{% endcomment -%}
{% include 'product-grid-item' thumb_size: '200x200' %}
      {% endfor %}

    </div>

  </div>

</div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "id": "description",
        "type": "richtext",
        "label": "Description"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}