<div class="page-width">
  {% include 'breadcrumb' %}
</div>


<div class="info-pag contact-page">
  
  {% section 'contact-image' %}
  
  <h1 class="page-title">{{ page.title | capitalize }}</h1>

  <div class="contact wholesale">
    <div class="info">
      {{ page.content }}
      <p class="chat">We're here to help! Reach out to our team at <a href="mailto:wholesale@thefoggydog.com">wholesale@thefoggydog.com</a> with any questions.</p>
    </div>
    <div class="hp-contact">
     <img src="https://cdn.shopify.com/s/files/1/1392/6117/files/Binny_in_Painted_Peonies_bandana_square_221x221@2x.jpg?v=1613750048" alt="Wholesale form">
    </div>
  </div>
  <div class="wholesale-form">
    <script type="text/javascript" src="https://form.jotform.com/jsform/232496707274060"></script>
  </div>
</div>
