<div class="page-width">
  {% include 'breadcrumb' %}
</div>


<div class="info-pag contact-page">
  
  {% section 'contact-image' %}
  
  <h1 class="page-title">{{ page.title }}</h1>

  <div class="contact bark-at-us">
      <div class="info">
        {{ page.content }}
      </div>
      <div class="tfd--contact-us hp-contact">
        <script type="text/javascript" src="https://form.jotform.com/jsform/232496072455056"></script>
      </div>
  </div>
</div>
{% section 'contact-cta' %}
{% section 'faq' %}

<style>
.hp-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
</style>


<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const Form = document.querySelector('.hp-contact form');
    const Honeypot = Form.querySelector('.hp-input input');

    if (Form.addEventListener) {
        Form.addEventListener("submit", function(evt) {
          	if(Honeypot && Honeypot.value != '') {
              evt.preventDefault();
              window.history.back();
            }
        }, true);
    }
    else {
        Form.attachEvent('onsubmit', function(evt){
          	if(Honeypot && Honeypot.value != '') {
              evt.preventDefault();
              window.history.back();
            }
        });
    }
});
  
</script>