<style type="text/css">
    .yotpo-custom-div > div{
     max-width: 100% !important;
     padding: 0px 0px !important;
}
  .page-width {
    max-width: 1920px!important;
    padding: 0 0!important;
}
</style>
<div style="width: 100%; max-width: 1200px; padding: 12px 15px; margin: 0 auto;"><div><script type="text/javascript" src="https://forms-akamai.smsbump.com/418341/form_115498.js?ver=1713973680"></script></div></div>
