<div class="page-width">
  {% include 'breadcrumb' %}
</div>


<div class="info-pag contact-page">
  
  {% section 'contact-image' %}
  
  <h1 class="page-title">{{ page.title | capitalize }}</h1>

  <div class="contact wholesale">
    <div class="info">
      {{ page.content }}
      <p class="chat">We're here to chat Monday-Friday 9am-5pm PT at 1-415-993-1130. </p>
    </div>
    <div class="hp-contact">
      <div class="wholesale-form">
        {% render "customer-fields", form_id: "2qt7aq" %}
      </div>
    </div>
  </div>
</div>

<style>
.hp-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
</style>

<script>
const Form = document.querySelector('.hp-contact form');
  const Honeypot = Form.querySelector('.hp-input input');
  Form.addEventListener('submit', event => {
    if(Honeypot.value && Honeypot.value !== '') {
      event.preventDefault();
      window.history.back();
      console.log('nope');
    }
  });
</script>